---
import Title from '../atoms/Title.astro';
import './skills.css';
---

<section id="skills">
	<div class="text-content">
		<Title contenido="servicios " />
		<p>
			1. Definición para cabellos desde la textura 2 hasta la 4 <br>
			2. Re-polarización para todo tipo de cabellos <br>
			3. RECUPERACIÓN DE RIZOS <br>
			4. Asesorías personalizadas <br>  
			5 Ventas de productos como SKALA, + PERFECTA, KANECHOM, KINKY Y CURLY ROOST <br>
			6 Desintoxicación de ebra capilar  
		</p>
	</div>
</section>
