---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="../../../public/img/yayeafro.png"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Emprendedora dispuesta a dar lo mejor de mi, con mucho amor y pasion para tus espectaculares crespos.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
